<div class="container-fluid">
    <div class="row ">
      <div class="card  mx-auto col-sm-8" style="margin-top: 5em;margin-bottom: 5em;" >
          <div class="card-body">
            <div class="col-md-2 mx-auto im ma">
              <img src="../../../assets/images/bil.png">
            </div>
              <h2 class="text-center display-6 card-title">Manage Bills</h2>
             
            <h6 class="text-center card-subtitle mb-2 text-muted">Lets Clear Up</h6>
            <br>
            <table class="table table-hover table-borderless">
              <thead>
                <tr>
                 
                  <th scope="col">Transaction</th>
                  <th scope="col">Amount</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td class="navbar-brand">
                      <img src="../../../assets/images/netflix.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                      Netflix 
                    </td>
                  
                  <td>200.00</td>
               
                </tr>
                <tr>
                    <td class="navbar-brand">
                      <img src="../../../assets/images/jio.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      Jio
                    </td>
                  
                  <td>500.00</td>
               
                </tr>
                <tr>
                  <td class="navbar-brand">
                    <img src="../../../assets/images/hotstar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    Hotstar
                  </td>
                
                <td>400.00</td>
             
              </tr>
              <tr>
                <td class="navbar-brand">
                  <img src="../../../assets/images/prime.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                  Prime 
                </td>
              
              <td>300.00</td>
           
            </tr>
            <tr>
              <td class="navbar-brand">
                <img src="../../../assets/images/broad.png" width="30" height="30" class="d-inline-block align-top" alt="">
               Broadband
              </td>
            
            <td>600.00</td>
         
          </tr>
          <tr>
            <td class="navbar-brand">
              <img src="../../../assets/images/slice.png" width="30" height="30" class="d-inline-block align-top" alt="">
             Slice  
            </td>
          
          <td>5000.00</td>
       
        </tr>
              </tbody>
            </table>
            
             
          </div>
        </div>
    </div>
</div>
  
  