<div class="container-fluid">
    <div class="row ">
      <div class="card  mx-auto col-sm-8" style="margin-top: 5em;margin-bottom: 5em;" >
          <div class="card-body">
            <div class="col-md-2 mx-auto im ma">
              <img src="../../../assets/images/portfolio.png">
            </div>
              <h2 class="text-center display-6 card-title">Manage Portfolio</h2>
             
            <h6 class="text-center card-subtitle mb-2 text-muted">Keep eye on it</h6>
            <br>
            <table class="table caption-top table-hover ">
                <caption>Mutual Funds</caption>
                <thead>
                  <tr>
                   
                    <th scope="col">Fund Name</th>
                    <th scope="col">Amount Invested</th>
                    <th scope="col">Current Value</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="navbar-brand">
                        <img src="../../../assets/images/axis.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                        Axis Bluechip Fund 
                      </td>
                    
                    <td>10800.00</td>
                    <td>15000.00</td>
                  </tr>
                  <tr>
                    <td class="navbar-brand">
                      <img src="../../../assets/images/sbi.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      SBI Small Cap Fund
                    </td>
                  
                  <td>25000.00</td>
                  <td>30000.00</td>
                </tr>
               
                </tbody>
              </table>
              
               <br>
               <table class="table caption-top table-hover ">
                <caption>Emergency Funds</caption>
                <thead>
                  <tr>
                   
                    <th scope="col">Bank </th>
                    <th scope="col">Current Amount </th>
                    <th scope="col">Target Value</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="navbar-brand">
                        <img src="../../../assets/images/hdfc.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        HDFC
                      </td>
                    
                    <td>107000.00</td>
                    <td>300000.00</td>
                  </tr>
                
                </tbody>
              </table>
              <br>
              <table class="table caption-top table-hover ">
                <caption>Stocks and Cryptos</caption>
                <thead>
                  <tr>
                   
                    <th scope="col">Asset Name</th>
                    <th scope="col">Amount Invested</th>
                    <th scope="col">Current Value</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="navbar-brand">
                        <img src="../../../assets/images/shiba.png" width="40" height="30" class="d-inline-block align-top" alt="">
                        Shiba Inu
                      </td>
                    
                    <td>2000.00</td>
                    <td>3500.00</td>
                  </tr>
                  <tr>
                    <td class="navbar-brand">
                      <img src="../../../assets/images/itc.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      ITC
                    </td>
                  
                  <td>1217.00</td>
                  <td>1526.00</td>
                </tr>
                <tr>
                    <td class="navbar-brand">
                      <img src="../../../assets/images/wipro.png" width="40" height="30" class="d-inline-block align-top" alt="">
                      WIPRO
                    </td>
                  
                  <td>370.00</td>
                  <td>1141.00</td>
                </tr>

                  <tr>
                    <td class="navbar-brand">
                      <img src="../../../assets/images/idea.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      IDEA
                    </td>
                  
                  <td>40.00</td>
                  <td>129.00</td>
                </tr>
               
                </tbody>
              </table>
            
             
          </div>
        </div>
    </div>
</div>
  
  