<mat-sidenav-container class="sidenav-container" *ngIf="isLogged()" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="navbar-brand">
    
        <img src="../../../assets/images/avatar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
         <br>Jay
    
    </mat-toolbar>
    <mat-nav-list style="padding: 1em;">
      <a class="card bg-info" style="margin-bottom: 1em;" mat-list-item routerLink="users/buddy">Buddy</a>
      <a class="card bg-warning" style="margin-bottom: 1em;"mat-list-item routerLink="users/bills">Bills</a>
      <a class="card bg-success"style="margin-bottom: 1em; font-color:white;" mat-list-item routerLink="users/funds">Funds</a>
      <a class="card bg-danger" style="margin-bottom: 1em;"mat-list-item  (click)='logout()'>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <span class="navbar-brand">  
     
          <img src="../../../assets/images/peppa.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
          Peppa
       
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>


